# Chapter 04 Exercises

## Name Goes Here

### Date

In [43]:
# Write the code for the libraries you use to complete the assignment

import pandas as pd

## Q1) Learning How to Solve Systems of Equations in Python

In economics, we often want to know the solution to equilibrium values. Take for example the table below from pg. 76 in the book.

| Description             | Formula                           |
|-------------------------|-----------------------------------|
| Production function     | $Y \text{ = } \bar{A}K^{1/3}L^{2/3}$ | 
| Rule for hiring capital | $\frac{1}{3}\cdot \frac{Y}{K} \text{=} r \space$ |
| Rule for hiring labor   | $\frac{2}{3}\cdot \frac{Y}{L} \text{=} \omega$ |
| Demand $=$ Supply for capital | $K = \bar{K}$ |
| Demand $=$ supply for labor | $L = \bar{L}$ |

In this case there are 5 equations and 5 unknowns. From the reading you learned the equilibrium in this simple economy is the solution to these equations.

In Python, it is possible to solve a system of two or more equations. As preparation for exercises in this assignment and future assignments you will learn how to solve a system of equations in Python. Follow the steps below to complete this exercise. 

**Review of Linear Algebra** 

In Econ 215 you learned the following formula can be used to find unknowns of a system of equations.
$$
Ax = b \ \ \ \ \ \ (1)
$$

The equation (1) can be manipulated and solved using rules from linear algebra to arrive at the following equation.
$$
x = A^{-1} b \ \ \ \ \ (2)
$$

Equation (2) says that the unknowns to a system of equations can be solved for by taking the inverse of matrix A and multiplying it by the constants of an equation. 


 **Video**

With those formulas in mind, watch the following video as it will teach you how to solve systems of equations in Python. 
    
__[Click here to watch video]( https://youtu.be/44pAWI7v5Zk)__

  

**Solve the Equations**

Using the information from the video solve the 1. and 2. below using Python.

__(a)__

\begin{align*}
3x - y &= 7 \\
2x + 3y &= 1 
\end{align*}

__(b)__

\begin{align*}
x - 2y + 3z &= 7\\
2x + y + z &= 4\\
-3x + 2y - 2z &= -10
\end{align*}


# The Black Death (Q2 and Q3)

In the middle of the fourteenth century, and epidemic known as the Black Death killed about a third of Europe's population, about 34 million people. While this was an enormous tragedy, the macroeconomic consequences might surprise you: over the next century, wages are estimated to have been *higher* than before the Black Death. Questions 2 and 3 will help you gain an understanding as to why this happened.



## Q2) Solving the production model

Before answering any questions about the Black Death, let's first build an understanding of the production function. Suppose the production function is given by $ Y = \bar{A}K^{\alpha}L^{1-\alpha}$. This is a general version of the production function we've been working with, where $\alpha$ is the "capital share of output."

**(a)** Using pencil and paper (you don't have to enter the answer here), create a new version of Table 4.1 (pg. 76) for the model using this more general production function. What are the five equations and five unknowns? (*Hint*: The hiring rules for capital and labor will change in the obvious way.)

**(b)** What is the solution for the equilibrium level of output per person? Let $\bar{A} = 1$, $L = 200$, $K = 200$, $\alpha = 1/3$. (*Hint: You can use Python to help solve for the solution numerically. You should verify your findings by hand.*)

**(c)** How does changing the level of alpha ($\bar{A}$) affect the equilibrium level of output, rental rate of capital, and wages? Try $\bar{A}$={0.5, 0.75, 1.25, 1.5}

## Q3) 

  **(a)** Show numerically how much wages would rise if a third of the population died from disease. Assume $\bar{A} = 1$, $L = 200$, $K = 200$, $\alpha = 1/3$ $\bar{A}K^{1/3}L^{2/3}$ before the black plague.

**(b)** Suppose that instead of the black plague there was an alien invasion of Europe that didn't kill anyone, but instead brought in new technology. How much would TFP have to increase to raise wages as much as the black plague?

# Q5) The empirical fit of the production model

The table on page 99 of the book (or shown below in the Pandas data frame) reports per capita GDP and capital per person in the year 2014 for 10 countries. __Your task is to fill in the missing columns of the data frame by completing steps a) thorugh d).__

In [39]:
# Run this code to create the data frame! You do not need to do anything in this cell, this is just provided as your starting point. 

# Setting up the column data 
countries = ['United States', 'Canada', 'France', 'Hong Kong', 'South Korea', 'Indonesia', 'Argentina', 'Mexico', 'Kenya', 'Ethiopia']
capital_per_person = [141841, 128667, 162207, 159247, 120472, 41044, 53821, 45039, 4686, 3227]
per_capita_GDP = [51895, 43367, 37360, 45095, 34961, 9797, 20074, 15521, 2971, 1505]
capital_per_person2 = [1.0, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']
per_capita_GDP2 = [1.0, 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN', 'NaN']

# Construct the data frame
df = pd.DataFrame({'Country(0)':countries, 
                   'Capital per person(1)':capital_per_person, 
                  'Per capita GDP(2)':per_capita_GDP, 
                  'Capital per person 2':capital_per_person2, 
                  'Per capita GDP 2':per_capita_GDP2},
                  columns=['Country(0)', 'Capital per person(1)', 
                           'Per capita GDP(2)', 
                           'Capital per person(3)', 
                           'Per capita GDP(4)', 
                           'Predicted y*(5)', 
                           'implied TFP(6)'])

# Show the data frame
df

,Country(0),Capital per person(1),Per capita GDP(2),Capital per person(3),Per capita GDP(4),Predicted y*(5),implied TFP(6)
0,United States,141841,51895,NaN,NaN,NaN,NaN
1,Canada,128667,43367,NaN,NaN,NaN,NaN
2,France,162207,37360,NaN,NaN,NaN,NaN
3,Hong Kong,159247,45095,NaN,NaN,NaN,NaN
4,South Korea,120472,34961,NaN,NaN,NaN,NaN
5,Indonesia,41044,9797,NaN,NaN,NaN,NaN
6,Argentina,53821,20074,NaN,NaN,NaN,NaN
7,Mexico,45039,15521,NaN,NaN,NaN,NaN
8,Kenya,4686,2971,NaN,NaN,NaN,NaN
9,Ethiopia,3227,1505,NaN,NaN,NaN,NaN

**(a)** Given the values in columns 1 and 2 which are in U.S. dollars, fill in columns 3 and 4 which are relative to U.S. values (U.S. = 1). That is, compute per capita GDP and capital per person relative to the U.S. values taking the ratio of each country's value (either Per capita GDP or Capital per Person) to the corresponding U.S. value.

In [ ]:
# Hints: you can change an entire column in a data frame with df['column name'] = x where x is an array. 
 
# Useful Commands
# np.zeros(9) - creates an array of length 9 with zeros in each slot of memory
# np.append(my_array, x) - appends x onto an array named my_array


# Below is some code and comments to get you started
###########################################################################################
# Column 3
###########################################################################################
USA_capital_pp = 141841
cap_per_person = np.array([128667, 162207, 159247, 120472, 41044, 53821, 45039, 4686, 3227])

# Create an array to loop through that will be used to store the calculations for capital per person
capital_per_person2 = [1]
zeros = np.zeros(9)
capital_per_person2 = np.append(capital_per_person2, zeros) # You now have an array of legth 10, with the first entry, 
                                                            # capital_per_person[0] complete since capital_per_person[0] is 1

# Make a loop that uses columns 1 and 2 to calculate capital per person
for i in range(0, 9):    
    capital_per_person2[i+1] = #TO DO: use columns 1 and the USA_capital_pp variable to calulate column 3


# TO DO: Now replace the column in data frame 3 with capital_per_person2. You will use a similar codeing pattern for part b

###########################################################################################
# Column 4
# Use a similar approach to what you did in column 3 to finish column 4
###########################################################################################


# TO DO: Show the new df which will now include the updated columns 3 and 4

**(b)** In column 5, use the production model (with $\alpha=1/3$) to compute predicted per capita GDP for each country relative to the United States. Assume $\bar{A}=1$, which implies there are no TFP differences across countries. This implies the production function is $y^\ast = 
\bar{A}K^{1/3}$ and $K$ will be the capital per person for each country. Again use a ratio of capital per person for each contry relative to the U.S. capital per person.

**(c)** In column 6, compute the level of TFP for each country that is needed  to the model to the data using the following formula. 

$$
TFP = \frac{ y^\ast \text{ U.S.}}{\frac{k^{1/3} \text{for a given country}}{k^{1/3} \text{ for U.S.}}}
$$

**(d)** Comment on the general results you find.

## Q6) The labor share and Cobb-Douglas production (a FRED question)

Download the FRED `ch04_labor_compensation.csv` file (see 6(a) code comments) for the share of income paid to labor for the nonfarm business sector of the U.S. economy, back to 1950. (For an introduction to FRED, see the case study "The FRED database" in Chapter 2 on page 34).

**(a)** Create a time series plot of the data you downloaded.

In [1]:
# Use what you learned in the Intermediate Python for Data Science Course in Data Camp (or consider looking at code 
# given in past assignments) to import the data using the Pandas library. Note when importing the .csv file, you need to 
# be able to tell the computer where to the data are located so it can read them in. The data are located in the link. 
# Instead of putting a file path to your computer for your read csv function, you will simply substitute the link below into 
# the import python function and proceed like a regular data import your learned in Data Camp. For the plotting consider using the pandas
# function df.plot where df is the name of your data frame.

# Link: https://raw.githubusercontent.com/dylanjm/econ_381_development/master/data/ch04_labor_compensation.csv

**(b)** The graph most likely shows an index (e.g., normalized so the value in some year is 100) rather than the share itself. Assuming the labor averaged $2/3$, approximately what value is the labor share for your most recent data point? **Python hint:** you will need to access the last data point in the second column. If my data frame was named df, then I could access the first item in the second coumn by using the code df[0, 1]. The numbers correspond to the row first, and then the column number.

**(c)** What does this graph suggest about the validity of our assumptions that the production function is Cobb-Douglas?