# Chapter 07 Exercises

## Name goes here

### Date

In [2]:
# Libraries you will need for this assignment. 
# The code below will import them for your use. 
# Please run this before continuing.
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Q1) Practice Importing Data (A Python Question)

In DataCamp, you will soon learn how to import .csv files into Python. This will be a valuable skill moving forward in the semester. In order to better prepare you, this question will provide example code so you can answer Question 02 of this assignment. After running the code below, print out the dataset to ensure it has been read in correctly.

In [4]:
# For Question 02, we will need two distinct datasets from the FRED.
# For the sake of simplicity, we have downloaded the data and stored it on a remote server.
# We will acess the data by inputing the url to the .csv file we want to download.
# This code requires the use of the Pandas library, we have abbreviated Pandas as pd.

# Url to first data set:
men_url = "https://raw.githubusercontent.com/dylanjm/econ_381_development/master/data/ch07_employment_ratio_men.csv"

# Import the data and save it to a variable:
men_emp_ratio = pd.read_csv(men_url)

# Url to second data set:
women_url = "https://raw.githubusercontent.com/dylanjm/econ_381_development/master/data/ch07_employment_ratio_women.csv"

# Import the data and save it to a variable:
women_emp_ratio = pd.read_csv(women_url)

# Insert code to print both datasets:
print(men_emp_ratio)
print(women_emp_ratio)

           DATE  LNS12300001
0    1948-01-01         83.8
1    1948-02-01         83.9
2    1948-03-01         83.0
3    1948-04-01         83.3
4    1948-05-01         83.1
5    1948-06-01         83.7
6    1948-07-01         83.8
7    1948-08-01         83.5
8    1948-09-01         83.2
9    1948-10-01         83.5
10   1948-11-01         83.3
11   1948-12-01         83.5
12   1949-01-01         82.8
13   1949-02-01         82.6
14   1949-03-01         82.1
15   1949-04-01         82.0
16   1949-05-01         81.3
17   1949-06-01         80.9
18   1949-07-01         80.4
19   1949-08-01         80.7
20   1949-09-01         81.0
21   1949-10-01         80.0
22   1949-11-01         81.2
23   1949-12-01         81.0
24   1950-01-01         80.7
25   1950-02-01         80.7
26   1950-03-01         80.7
27   1950-04-01         81.1
28   1950-05-01         81.6
29   1950-06-01         81.8
..          ...          ...
817  2016-02-01         65.9
818  2016-03-01         65.9
819  2016-04-01         65.8
820  2016-05-01         65.7
821  2016-06-01         65.8
822  2016-07-01         65.8
823  2016-08-01         65.8
824  2016-09-01         65.8
825  2016-10-01         65.7
826  2016-11-01         65.8
827  2016-12-01         65.7
828  2017-01-01         65.9
829  2017-02-01         66.0
830  2017-03-01         66.0
831  2017-04-01         66.2
832  2017-05-01         66.0
833  2017-06-01         66.0
834  2017-07-01         65.9
835  2017-08-01         65.9
836  2017-09-01         66.3
837  2017-10-01         66.1
838  2017-11-01         66.0
839  2017-12-01         66.1
840  2018-01-01         66.3
841  2018-02-01         66.5
842  2018-03-01         66.5
843  2018-04-01         66.4
844  2018-05-01         66.5
845  2018-06-01         66.2
846  2018-07-01         66.3

[847 rows x 2 columns]
           DATE  LNS12300002
0    1948-01-01         30.9
1    1948-02-01         31.0
2    1948-03-01         30.7
3    1948-04-01         31.6
4    1948-05-01         30.9
5    1948-06-01         31.9
6    1948-07-01         32.0
7    1948-08-01         31.3
8    1948-09-01         31.7
9    1948-10-01         31.1
10   1948-11-01         31.3
11   1948-12-01         31.6
12   1949-01-01         31.2
13   1949-02-01         31.5
14   1949-03-01         31.5
15   1949-04-01         31.0
16   1949-05-01         31.1
17   1949-06-01         30.7
18   1949-07-01         31.1
19   1949-08-01         31.2
20   1949-09-01         31.1
21   1949-10-01         31.3
22   1949-11-01         31.6
23   1949-12-01         31.3
24   1950-01-01         31.1
25   1950-02-01         31.1
26   1950-03-01         31.0
27   1950-04-01         32.1
28   1950-05-01         31.6
29   1950-06-01         32.1
..          ...          ...
817  2016-02-01         54.1
818  2016-03-01         54.2
819  2016-04-01         54.0
820  2016-05-01         54.0
821  2016-06-01         53.9
822  2016-07-01         54.1
823  2016-08-01         54.1
824  2016-09-01         54.1
825  2016-10-01         54.2
826  2016-11-01         54.2
827  2016-12-01         54.2
828  2017-01-01         54.2
829  2017-02-01         54.4
830  2017-03-01         54.7
831  2017-04-01         54.5
832  2017-05-01         54.4
833  2017-06-01         54.6
834  2017-07-01         54.8
835  2017-08-01         54.7
836  2017-09-01         54.8
837  2017-10-01         54.6
838  2017-11-01         54.6
839  2017-12-01         54.6
840  2018-01-01         54.4
841  2018-02-01         54.7
842  2018-03-01         54.6
843  2018-04-01         54.6
844  2018-05-01         54.7
845  2018-06-01         54.9
846  2018-07-01         55.0

[847 rows x 2 columns]

## Q2) The employment-population ratio for men and women (a FRED question)

Using the data imported from Question 01, answer the following questions:

__(a)__: Using the code from Chapter 01 Excercises as an example, create two time-series charts visualizing the employment-population ratio trend from 1948 to 2018.

In [6]:
# Insert Python Code for First Plot Here:






# Insert Python Code for Second Plot Here:

__(b)__: What are some possible explanations for the different trends in the two series between 1950 and 2000?

__(c)__: What might explain the change in trend for women since 2000?

## Q2) How much is a college education worth?

In the text, we supposed a college education raised a person's wage by \$30,000 per year, from \$40,000 to \$70,000. Assume the interest rate is 3% and there is no growth in wages, then answer the following.

__(a)__: Suppose you are a high school senior deciding whether or not to go to college. What is the present discounted value of your labor income if you forgo college and start work immediatley?

__(b)__: As an alternative, you could pay \$20,000 per year in college tuition, attend for 4 years, and then earn \$70,000 per eyar after you graduate. What is the persent discounted value of your labor earning under this plan? (Compute this value from the point of view of a high school senior.)

__(c)__: Discuss the economic value of a college education.